<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-User(Signup)</title>
</head>
<body>
    <h1>Add-User(Signup)</h1>

    <form method="post" action="/url/add-user">
        <label>Name</label>
        <input type="text" required name="name" />
        <label>Phone Number</label>
        <input type="text" required name="phone_number" />
        <label>Password</label>
        <input type="text" required name="password" />

        <button type="submit">Add-User(Signup)</button>
    </form>

</body>
</html>